#sidebar {
    background-color: #eef2ff; /* separate from white dashboard */
    border-right: 1px solid #e2e8f0;
}

QLabel#sidebarTitle {
    font-size: 28px;
    font-weight: bold;
    color: #1d4ed8;
}

QPushButton {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 12px 14px;
    text-align: left;
    font-size: 15px;
    border-radius: 10px;
}

QPushButton:hover {
    background-color: #1d4ed8;
}
